 
 
 .homeP{
 	background: url('/assets/appt2.jpg');
 	background-size: cover;
 	background-repeat: no-repeat;
 	height: 100vh;
 	background-position: center;
 	opacity: 0.8;
 }

 .mycard{

 }


